.header {
  background-color: #ffffff;
  width: 100%;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding-left: 24px;
  padding-right: 24px;
  z-index: 2;

  @media (max-width: 880px) {
    justify-content: flex-start;
    padding-left: 8px;
    padding-right: 8px;
  }

  .mobile {
    @media (min-width: 769px) {
      display: none;
    }
  }

  .desktop {
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .desktopSearch {
    @media (max-width: 768px) {
      display: none;
    }
  }

  input {
    border: none;
    background-color: #f4f4f4;
    color: rgba(3, 26, 97, 0.4);
    border-radius: 5px;
    height: 40px;
    padding: 16px;
    flex-grow: 1;
    // max-width: 100ch;
    font-size: 16px;
    margin-left: 8px;
  }
  button {
    z-index: 2;
  }
  :focus {
    border: none;
    background-color: #f4f4f4;
    outline: none !important;
    color: rgba(3, 26, 97, 0.4);
  }
  ::placeholder {
    color: rgba(3, 26, 97, 0.4);
  }
  :nth-child(3) {
    margin-left: 8px;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
